.text1{
	margin-left: 3%;
	float: left;
	width: 40%;
	height: 70px;
	font-size: 20px;
}
.text2{
	float: right;
	text-align: right;
	width: 50%;
	height: 70px;
	font-size: 20px;
	overflow: hidden;
}
h3{
	margin-top: 1.5%;
}
.campos{
	margin-right: 3%;
}